@import 'reset.css';

* {
    box-sizing: border-box;
    font-size: 16px;
    text-decoration: none;
}
html {
    scroll-behavior: smooth;
}
#container {
    background: #CCC;
    width: 100%;
    padding: 1rem 1.25rem;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
}
@import url('https://fonts.googleapis.com/css?family=Lobster');
body {
    background-color: green;
    color: #111111;
    font-family: 'Lobster', cursive;
}
main{
    background-color:green;
}
.header {
    background-color: yellowgreen;
    text-align: center;
    border: 4px solid black;
    border-radius: 10px;
}
header {
    background-color: cornflowerblue;
    border: 1px solid black;
    border-radius: 3px;
}
.header_menu {
    margin-top: 3px;
    margin-bottom: 3px;
    display: flex;
    flex-direction: column;
    height: 72px;
    overflow: hidden;
    transition: height 0.5s ease;
    position: relative;
}
.header_menu:hover {
    height: 140px;
}
.menu_subtitle {
    margin: 0 0 .5rem;
}
.menu_menu {
    display: flex;
    justify-content: space-evenly;
    opacity: 0;
    transition: opacity .5s ease .5s;
}
.menu_menu:hover {
    opacity: 1;
}
.menu_menu a {
    color: blue;
    border: 1px solid black;
    border-radius: 10px;
    text-align: center;
    font-size: inherit;
    transition: font-size .5 ease;
}
.menu_menu a:hover{
    color: aqua;
    font-size: inherit;
}
.menu_btn {
    cursor: pointer;
    position: absolute;
    right: 1rem;
    top: 1rem;
    border: 2px solid black;
    border-radius: 10px;
    padding: .5rem;
}
#home {
    background-color: yellow;
    min-height: 25vh;
    border: 2px solid black;
    border-radius: 10px;
}
#conocimiento {
    background-color: red;
    min-height: 100vh;
}
#contacto {
    background-color: aliceblue;
    min-height: 100vh;
}
article {
    background: darkgoldenrod;
    text-align: center;
    border: 4px solid green;
    border-radius: 10px;
}
article.second {
    background-color: deeppink;
    text-align: center;
}
figure.mifoto {
    position: relative;
    border: 2px solid black;
    border-radius: 50%;
    overflow: hidden;
}
figcaption {
    position: absolute;
    top: 50%;
    left: 70%;
    font-size: 1.2rem;
    opacity: 1;
}
figcaption:hover {
    opacity: 0;
}
table{
    background-color: gold;
    border: 4px solid green;
}
th, td{
    border: 2px solid #000000;
    padding: 13px;
}
aside{
    padding: 8px;
    background-color: chocolate;
    text-align: center;
    border: 4px solid green;
    border-radius: 10px;
}
aside form label{
    padding: 10px;
    background-color:rgb(0, 183, 255);
    border: 4px solid black;
    border-radius: 10px;
}
footer{
    background-color: crimson;
    text-align: center;
    border: 4px solid green;
    border-radius: 10px;
}

